.main {
  margin: auto;
  margin-top: 50px;
  height: auto;
  padding: 0px 350px 0px 350px;
  @media screen and (max-width: 1600px) {
    padding: 0px 200px 0px 200px;
  }
  .maindatacard {
    grid-template-columns: 1fr;

    color: white;
    @media screen and (max-width: 760px) {
      min-width: 45rem;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .datacard {
      height: 70rem;
    }
  }
}
